# سیستم
.DS_Store
Thumbs.db

# PHP
*.log
*.env
*.bak
vendor/
node_modules/

# IDE ها
.idea/
.vscode/
*.sublime-project
*.sublime-workspace

# composer/laravel (در صورت وجود)
composer.lock

# سیستم‌های کش و موقت
cache/
tmp/

